.mainQuestionDiv {
  margin: 2vh auto;
  width: 70vw;
}

.currentQuestion {
  text-align: left;
  max-width: 90vw;
  margin: 3vh auto 1vh;
}

.main_question_div {
  margin: 2vh auto;
  width: 90vw;
}

.currentQuestion {
  text-align: left;
  margin: 3vh auto 1vh;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 3vh auto;
  text-align: left;
  max-width: 70vw;
  font-size: calc(10px + 1.5vw);
}
.label {
  display: flex;
  align-items: center;
  margin: 1vh;
}
.input {
  margin-right: 10px;
}

#checkbox {
  border: 10px solid blue;
}

.button {
  margin: 2vh auto;
  padding: 0.5rem;
  font-size: calc(10px + 0.5vw);
  max-width: 20vw;
}

#codesnippet {
  margin: auto;
  border: 1px solid gray;
  background-color: #383838;
  font-size: calc(8px + 1vw);
  border-radius: 4px;
  word-wrap: break-word;
  width: min(fit-content, 80vw);
  padding: 0.1rem;
  text-align: left;
}

.run_button {
  margin-bottom: 20px;
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}
.disabled_run_button {
  margin-bottom: 20px;
  background-color: #1e1e1e;
  outline: 1px solid #007acc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}

.run_button:hover {
  background-color: #1e1e1e;
  outline: 1px solid #007acc;
  /* color: #d4d4d4; */
}

.wrong_answer_explanation {
  width: 60vw;
  font-style: italic;
  font-size: calc(8px + 1vw);
  font-weight: 300;
  color: darkred;
  margin: auto;
}
