.mainQuestionDiv {
  margin: 2vh auto;
  width: 70vw;
}

.currentQuestion {
  text-align: left;
  max-width: 70vw;
  margin: 3vh auto 1vh;
}

.main_question_div {
  margin: 2vh auto;
  width: 50vw;
}

.currentQuestion {
  text-align: left;
  margin: 4vh auto 0;
  font-size: calc(14px + 1vw);
}
.form {
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  text-align: left;
  max-width: 50vw;
  font-size: calc(10px + 0.8vw);
  line-height: calc(16px + 1vw);
}

.label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin: 1px 0; */
  margin: 4px auto 4px 1vw;
}
.input {
  margin-right: 10px;
  display: flex;
  align-items: flex-start;
  margin-top: 0.2rem;
}

.submit_button {
  border: none;
  margin: 3vh auto 0;
  padding: 1rem;
  outline: 1px solid whitesmoke;
  border-radius: 4px;
  font-size: calc(10px + 0.5vw);
  width: 200px;
  height: 60px;
}

.submit_button:hover {
  outline: 3px solid whitesmoke !important;
}

#codesnippet {
  margin: auto;
  border: 1px solid gray;
  background-color: #383838;
  font-size: calc(8px + 1vw);
  border-radius: 4px;
  word-wrap: break-word;
  width: min(fit-content, 80vw);
  padding: 0.1rem;
  text-align: left;
}

.run_button {
  margin-bottom: 20px;
  background-color: #007acc;
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}
.disabled_run_button {
  margin-bottom: 20px;
  background-color: #1e1e1e;
  outline: 1px solid #007acc;
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}

.run_button:hover {
  background-color: #1e1e1e;
  outline: 1px solid #007acc;
  /* color: #d4d4d4; */
}

.wrong_answer_explanation {
  width: 100%;
  font-style: italic;
  font-size: calc(10px + 1vw);
  font-weight: 350;
  color: #f66;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .main_question_div {
    width: 70vw;
  }

  .currentQuestion {
    margin: 2vh auto 0;
  }
  .form {
    margin: 4vh auto;
    max-width: 70vw;
  }
}
